a {
     color: inherit;
     /* Mengikuti warna teks elemen induk */
     text-decoration: none;
     /* Menghapus garis bawah */
}

.image-ratio {
     width: 100%;
     aspect-ratio: 16 / 9;
     object-fit: cover;
}

.hover-effect {
     transition: all 0.3s ease;
}

.hover-effect:hover {
     background-color: #cfe2ff;
}

